[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
tdqm = "*"
numpy = "*"
fastapi = {extras = ["all"], version = "*"}
sklearn = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.8"
