* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #171520;
  color: white;
  line-height: 1.6;
}
a {
  text-decoration: none;
  color: #ffa500;
}
a:hover {
  color: wheat;
}
main {
  display: flex;
  flex-direction: column;
  height: 85vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}
article {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw; /* change to 60ch in the future */
  margin-left: auto;
  margin-right: auto;
}
article > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
nav {
  height: 5vh;
  padding: 1vh;
  display: flex;
  justify-content: flex-end;
}
footer {
  height: 5vh;
  padding: 1vh;
  text-align: center;
}
textarea {
  margin: 1rem;
}
.prediction {
  margin: 1rem;
}
